<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse</title>
</head>
<body>
    <h1>📊 Analyse von {{ filename }}</h1>

    <h2>📌 Durchschnittswerte</h2>
    <ul>
        {% for key, value in mean_values.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>📌 Maximalwerte</h2>
    <ul>
        {% for key, value in max_values.items() %}
            <li>{pip install flask{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h2>📈 Gehaltsverteilung</h2>
    <img src="{{ plot_path }}" alt="Gehaltsverteilung">

    <br><br>
    <a href="/">🔙 Neue Datei hochladen</a>
</body>
</html>